<p-toolbar>
    <div class="p-toolbar-group-left">
        <button
            *ngIf="showHamburgerButton"
            class="p-button-rounded p-button-text"
            icon="pi pi-bars"
            pButton
            pRipple
            type="button"
            (click)="toggleSidebar.emit()"></button>
        <button
            class="p-button-text p-button-sm"
            label="Home"
            pButton
            pRipple
            routerLink="/"
            type="button"></button>
        <button
            class="p-button-text p-button-sm"
            label="Gameplans"
            pButton
            pRipple
            routerLink="/matches"
            type="button"></button>
        <button
            class="p-button-text p-button-sm"
            label="FAQ"
            pButton
            pRipple
            routerLink="/faq"
            type="button"></button>
    </div>
    <div class="p-toolbar-group-right">
        <div class="p-toolbar-group-left">
            <button
                class="p-button-rounded p-button-text p-button-sm"
                icon="pi pi-user"
                pButton
                pRipple
                type="button"
                (click)="toggleProfile.emit()"></button>
        </div>
    </div>
</p-toolbar>
