<div
    *ngIf="blockView$ | async as blockView"
    class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <p-dialog
        header="Info"
        position="right"
        [draggable]="false"
        [modal]="true"
        [resizable]="false"
        [(visible)]="displayModal">
        <p class="m-0 font-bold">
            {{ blockView?.name | titlecase }}
        </p>

        <p class="m-0">
            <span class="font-bold">Location:</span>
            {{ blockView?.location | titlecase }}
        </p>

        <ng-template pTemplate="footer">
            <p-button
                icon="pi pi-check"
                label="Ok"
                styleClass="p-button-text"
                (click)="displayModal = false"></p-button>
        </ng-template>
    </p-dialog>

    <div class="mb-2 flex align-content-center justify-content-between">
        <div>
            <button
                class="p-button-text"
                icon="pi pi-user"
                label="Gameplans"
                pButton
                pRipple
                routerLink="/matches"
                type="button"></button>
            <button
                class="p-button-text ml-2"
                icon="pi pi-print"
                label="Print"
                pButton
                pRipple
                type="button"
                (click)="onPrint()"></button>
            <button
                *ttIsOwnerOrAdmin="blockView?.userIdentifier"
                class="p-button-text ml-2"
                icon="pi pi-trash"
                label="Delete"
                pButton
                pRipple
                type="button"
                (click)="onDelete()"></button>
        </div>
        <button
            *ngIf="blockView?.location"
            class="p-button-rounded p-button-text"
            icon="pi pi-info-circle"
            pButton
            pRipple
            type="button"
            (click)="onShowModalDialog()"></button>
    </div>
    <div
        class="grid"
        id="block-wrapper">
        <ng-container *ngFor="let block of blockView?.blocks">
            <div class="col-12 md:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Block {{ block.blockNumber }}</span>
                            <ng-container *ngIf="block.games">
                                <div class="text-900 font-normal text-sm">{{ block.games[0]! | titlecase }}</div>
                                <div class="text-900 font-normal text-sm">{{ block.games[1]! | titlecase }}</div>
                            </ng-container>
                        </div>
                        <div
                            class="flex align-items-center justify-content-center bg-blue-100 border-round"
                            style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-prime text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<p-confirmDialog
    rejectButtonStyleClass="p-button-text"
    [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
