<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">Tournament</span>
        <span class="text-blue-600">Planner</span>
    </div>
    <div class="text-700 text-sm mb-6">Plan and find upcoming tournaments in round robin format! .</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Create a Tournament Plan</div>
            <span class="text-700 text-sm line-height-3"
                >You don't feel like having badly planned clashes or tournaments anymore?!
                <br />
                Create a plan within a few minutes and retrieve it at any time or export it or export it as a pdf file.
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">View game plans</div>
            <span class="text-700 text-sm line-height-3">
                You can easily view already created game plans.
                <br />
                It is possible to view the game schedules comfortably on your smartphone or to download and print them as a pdf file. print
                them out.
            </span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span
                class="p-3 shadow-2 mb-3 inline-block surface-card"
                style="border-radius: 10px">
                <i class="pi pi-info-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">You have questions</div>
            <span class="text-700 text-sm line-height-3"
                >Something is not quite clear to you or you need help?
                <br />
                Then just have a look at the FAQ section. There are some points described in more detail.
            </span>
        </div>
    </div>
</div>
