<p-accordion>
    <p-accordionTab
        header="What this application can do"
        [selected]="true">
        <p>
            Ultimately, this page is meant to be a little place to go for all tournament players who are tired of driving somewhere to
            practice / clash and no one has made a head about a schedule / game plan.
        </p>
    </p-accordionTab>
    <p-accordionTab header="How does this work/What do I have to do?">
        <p>
            You can already use the site without registering. Among other things, you can view created game plans.
            <br />
            <br />

            If you want to create game plans, you can do it after signing in with the create button within the game plans section. This is
            quite simple, you have to go through three steps.
            <br />
            <br />
        </p>
        <ol>
            <li>Enter a name for the tournament</li>
            <li>Select a date and time. If you wish you can also enter a location/place</li>
            <li>Select all the Teams/Players which will enter the tournament</li>
        </ol>
    </p-accordionTab>
    <p-accordionTab header="General processes in the application">
        <p>
            Why does it say wildcard as the opposing team This is due to the odd number of teams for that day. To make the system work
            anyway, one team will have break then. Or you can cancel this game and make it a triple block. (Arrangement on site necessary).
        </p>
    </p-accordionTab>
</p-accordion>
