<p-dialog
    closeIcon="none"
    header="Add Team"
    [breakpoints]="{ '960px': '75vw' }"
    [draggable]="false"
    [modal]="true"
    [resizable]="false"
    [style]="{ width: '50vw' }"
    [visible]="isVisible">
    <ng-content></ng-content>
    <ng-template pTemplate="footer">
        <p-button
            styleClass="p-button-text"
            [label]="cancelButtonLabel"
            (click)="cancel.emit()"></p-button>
        <p-button
            styleClass="p-button-text"
            [disabled]="isDisabled"
            [label]="submitButtonLabel"
            (click)="confirm.emit()"></p-button>
    </ng-template>
</p-dialog>
