<div *ngIf="matchForm">
    <div class="m-3">
        <form
            class="grid p-fluid"
            [formGroup]="matchForm">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <input
                        formControlName="name"
                        pInputText
                        placeholder="Name"
                        type="text" />
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-prime text-blue-500"></i>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-4 cursor-pointer">
                <p-calendar
                    dateFormat="dd.mm.yy"
                    formControlName="date"
                    inputId="icon"
                    [placeholder]="matchForm.controls.date!.value.toDateString()"
                    [showIcon]="true"
                    [showTime]="true"
                    [touchUI]="true"></p-calendar>
            </div>

            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <input
                        formControlName="location"
                        pInputText
                        placeholder="Paintball Battlefields Hildesheim"
                        type="text" />
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-map-marker text-blue-500"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="flex justify-content-end">
        <button
            class="p-button-text ml-2"
            icon="pi pi-check"
            label="Save"
            pButton
            pRipple
            type="submit"
            [disabled]="matchForm.invalid || selectedTeams.length <= 1"
            (click)="onSubmit()"></button>
    </div>

    <ng-container *ngIf="teams$ | async as teams">
        <div
            @fadeSlideInOut
            class="mt-3">
            <p-table
                dataKey="id"
                responsiveLayout="scroll"
                [resizableColumns]="true"
                [selectionPageOnly]="true"
                [value]="teams"
                [(selection)]="selectedTeams">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th class="pl-0 pr-1">
                            <div class="flex justify-content-between">
                                <form
                                    class="search-form"
                                    [formGroup]="searchForm">
                                    <div class="p-input-icon-right p-inputtext-sm">
                                        <i class="pi pi-search"></i>
                                        <input
                                            formControlName="search"
                                            pInputText
                                            placeholder="Example Team"
                                            type="text" />
                                    </div>
                                </form>
                            </div>
                        </th>
                        <th class="pl-0 pr-1">
                            <p-button
                                class="p-button-text"
                                icon="pi pi-plus"
                                label="Team"
                                pRipple
                                styleClass="p-button-sm"
                                type="button"
                                (click)="changeModalVisibility(true)">
                            </p-button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template
                    let-team
                    pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="team"></p-tableCheckbox>
                        </td>
                        <td>{{ team.name | titlecase }}</td>
                        <td>
                            <div
                                *ttIsOwnerOrAdmin="team?.userIdentifier"
                                class="flex flex-row">
                                <button
                                    class="p-button-rounded p-button-text"
                                    icon="pi pi-pencil"
                                    pButton
                                    pRipple
                                    type="button"
                                    (click)="onEdit(team)"></button>

                                <button
                                    class="p-button-rounded p-button-danger p-button-text"
                                    icon="pi pi-trash"
                                    pButton
                                    pRipple
                                    type="button"
                                    (click)="onDelete(team)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <tt-ui-prime-paging
                [metaData]="metadata$ | async"
                (changePage)="onPageChange($event)"></tt-ui-prime-paging>
        </div>
    </ng-container>
</div>

<tt-ui-prime-dialog
    [cancelButtonLabel]="'Cancel'"
    [isDisabled]="!teamForm.valid"
    [isVisible]="isModalVisible"
    [submitButtonLabel]="'Save'"
    (cancel)="changeModalVisibility(false)"
    (confirm)="onUpsertTeam(); changeModalVisibility(false)">
    <div class="grid p-fluid mt-2">
        <div class="col-12">
            <form [formGroup]="teamForm">
                <div class="p-input-icon-right p-inputtext-sm">
                    <i class="pi pi-prime"></i>
                    <input
                        formControlName="name"
                        pInputText
                        placeholder="Name"
                        type="text" />
                </div>
            </form>
        </div>
    </div>
</tt-ui-prime-dialog>
<p-confirmDialog
    rejectButtonStyleClass="p-button-text"
    [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
