<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <button
        *ngIf="isLoggedIn$ | async"
        class="p-button-text mb-2"
        icon="pi pi-plus"
        label="Create"
        pButton
        pRipple
        routerLink="/matches/create"
        type="button"></button>
    <div class="grid">
        <ng-container *ngFor="let match of matches$ | async">
            <div
                *ngIf="match; else noMatch"
                class="col-12 sm:col-6 md:col-4 lg:col-3 cursor-pointer"
                (click)="onMatchClick(match.guid!)">
                <div class="surface-card shadow-2 p-3 h-9rem border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium">{{ match.date | date : 'short' : 'GMT' }}</span>
                            <span
                                *ngIf="match.location"
                                class="block text-500 font-normal mb-3">
                                <i class="text-xs mr-2 pi pi-map-marker"></i>
                                {{ match.location }}</span
                            >
                            <div class="text-900 font-medium text-xl">{{ match.name }}</div>
                        </div>
                        <div
                            class="flex align-items-center justify-content-center bg-blue-100 border-round cursor-pointer"
                            style="width: 2.5rem; height: 2.5rem"
                            (click)="onMatchClick(match.guid!)">
                            <i class="pi pi-calendar text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">Bocks: {{ match.blockCount }}</span>
                </div>
            </div>
        </ng-container>

        <ng-template #noMatch>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3"></span>
                            <div class="text-900 font-medium text-xl">No matches found</div>
                        </div>
                        <div
                            class="flex align-items-center justify-content-center bg-blue-100 border-round"
                            style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-calendar text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
