/* You can add global styles to this file, and also import other style files */
@use './style/normalize.css';
@use './style/roboto.scss';
@use './style/material-icons.scss';
@import 'primeflex/primeflex.css';

body {
    background-color: var(--surface-ground);
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
}

// Small Viewports
@media (max-width: 52rem) {
    html {
        font-size: 0.875rem;
    }
}
