<tt-ui-prime-toolbar
    [showHamburgerButton]="isSidebarFeatureEnabled$ | async"
    (toggleProfile)="onToggleProfileMenu()"
    (toggleSidebar)="onToggleSlideMenu()">
</tt-ui-prime-toolbar>
<div class="grid">
    <p-sidebar
        class="menu"
        position="left"
        [autoZIndex]="false"
        [closeOnEscape]="true"
        [modal]="false"
        [(visible)]="showSlideMenu">
        <div class="menu__items"></div>
        <button
            class="p-button-text"
            icon="pi pi-user"
            label="Gameplans"
            pButton
            pRipple
            routerLink="/matches"
            type="button"
            (click)="onToggleSlideMenu()"></button>
    </p-sidebar>

    <p-sidebar
        position="right"
        [autoZIndex]="false"
        [baseZIndex]="5"
        [closeOnEscape]="true"
        [modal]="false"
        [(visible)]="showProfileMenu">
        <ng-container *ngIf="isLoggedIn$ | async; else showLoginButton">
            <tt-ui-prime-sign-out-button></tt-ui-prime-sign-out-button>
        </ng-container>

        <ng-template #showLoginButton>
            <tt-ui-prime-sign-in-button></tt-ui-prime-sign-in-button>
        </ng-template>
    </p-sidebar>

    <main class="h-full w-full mt-2">
        <router-outlet></router-outlet>
        <tt-ui-prime-loading-indicator></tt-ui-prime-loading-indicator>
    </main>
</div>
