:host {
    ::ng-deep .p-sidebar {
        z-index: 2;

        .p-sidebar-header {
            padding: 0.75rem;
        }
    }

    ::ng-deep .p-sidebar-left {
        max-width: 12rem;
    }

    .menu {
        &__items {
            margin-top: 0.5rem;
        }
    }
}
